---
import Base from '../components/base.astro'
import Logo from '../components/logo.astro'
// import DarkmodeSwitch from './components/DarkmodeSwitch.vue'
import AboutText from '../components/about.astro'
import SearchForm from '../components/form/search-form.astro'
import Footer from '../components/footer.astro'
import {parseRequest} from '../api/query'

const query = parseRequest(Astro.url)
---
<Base>
	<header>
		<Logo/>
		<!-- <DarkmodeSwitch/> -->
	</header>
	<main>
		<AboutText/>
		<SearchForm query={query}/>
	</main>
	<Footer/>
</Base>

<style>
	main 
	{
		/* take up ~full screen height */
		min-height: calc(100vh - 100px);

		/* logo expands in default (no search) view; push contents down to match */
		transform: translateY(40px);
		transition: transform 1.2s cubic-bezier(0.82, 0.01, 0.45, 1);
	}

	:global(body.loaded) main
	{
		/* resume regular position once searching/loaded */
		transform: none;
	}
</style>
