---
import {Query} from '../../api/query'

interface Props {
	query: Query
}

const request = {
	method: 'POST',
	headers: {'Content-Type': 'application/json'},
	body: JSON.stringify(Astro.props.query),
}
---

<section aria-busy="true" aria-live="polite" id="results">
	<noscript>
		<div class="no-js-message">
			<p>
				No Javascript? No problem! Just <b>re-click the submit button</b>
				to re-do the lookup without JS.
			</p>
			<small>
				(If you followed a link to get here, make sure you bookmark the
				new page after resubmission; it will include the "&nojs=true"
				parameter in the URL.)
			</small>
		</div>
	</noscript>
	<div id="loading">
		<h2>Loading film...</h2>
		<div class="loading-bar"/>
		<p class="hint">
			Is there a movie you're secretly rooting for? 
			Choose that one! I give you permission.
		</p>
	</div>
</section>

<script define:vars={{request}}>
	document.addEventListener('DOMContentLoaded', () => {

		const target = document.getElementById('results')
		document.body.classList.add('loading')
		
		fetch('/get-film', request)
			.then(res => res.text())
			.then(html => target.innerHTML = html)
			.then(() => document.body.classList.remove('loading'))
			.then(() => document.body.classList.add('loaded'))
			.finally(() => target.setAttribute('aria-busy', 'false'))
    })
</script>

<style>
	.no-js-message
	{
		background: #eecf5f64;
		padding: 20px;
		max-width: 80ch;
		margin: 20px auto;

		& > p
		{
			margin-block-start: 0;
		}
	}
	
	h2
	{
		margin-top: 5rem;
		font-size: 1.2rem;
	}

	p.hint
	{
		max-width: 40ch;
		margin: 0rem auto 1rem;
		padding: 0 2rem;
	}

	.loading-bar
	{
		background: var(--off-white);
		border-radius: 10px;

		margin: 1rem auto;
		max-width: 90%;
		width: 600px;
		height: 3px;
	}

	.loading-bar::after
	{
		content: "";
		display: block;
		height: 3px;
		width: 100%;
		border-radius: 4px;
		background: var(--primary);
		
		animation-fill-mode: forwards;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 1.4s ease;
	}

	:global(body.loading) .loading-bar::after
	{
		animation: load 1.4s ease;
		animation-fill-mode: forwards;
	}

	:global(body.loaded) .loading-bar::after
	{
		transform: scaleX(0.8);
		animation: load-finish 0.2s ease-in;
		animation-fill-mode: forwards;
		transition: transform 0.2s ease-in;
	}

	@keyframes load
	{
		0% { transform: scaleX(0) }
		100% { transform: scaleX(0.8) }
	}

	@keyframes load-finish
	{
		100% { transform: scaleX(1) }
	}
</style>
